.modal-header.bg-warning {
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    justify-content: center; /* Centrer le contenu horizontalement */
}

.modal-title {
    text-align: center;
    flex: 1; /* Pour s'assurer que le titre occupe toute la largeur disponible */
}


.btn-close-blue {
    background-color: blue;
    border: none;
    opacity: 1;
}

.btn-close-blue:hover {
    background-color: darkblue;
}