.flex-container {
    display: flex;
    align-items: center;
}

.flex-container .text-center {
    margin-left: 10px;
}

.flex-container .text-center h5,
.flex-container .text-center h6 {
    margin: 0;
    line-height: 1.2;
}
