@tailwind base;
@tailwind components;
@tailwind utilities;

.team-container {
    max-width: 400px; /* Ajustez cette valeur selon vos besoins */
    margin: 0 auto;   /* Centrer le conteneur */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre douce */
    padding: 15px; /* Ajoutez un peu de padding pour un meilleur rendu */
    background-color: #F6A500; /* Couleur de fond */
    border-radius: 8px; /* Ajouter des coins arrondis */
    color: white; /* Texte en blanc pour un meilleur contraste */
}

.pagination-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.icon-collaboration {
    width: 1.3rem;
    height: 1rem;
    font-size: 1rem;
}

.member-card-container {
    position: relative;
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.scroll-container {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    background: linear-gradient(to right, #ffffcc 0%, #ff6600 100%);
    position: relative;
}

.scroll-content {
    display: flex;
    animation: scroll 20s linear infinite;
}

.scroll-content.paused {
    animation-play-state: paused;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.scroll-item {
    display: inline-block;
    margin-right: 10px; /* Ajuster l'espacement entre les cartes si nécessaire */
}


